@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Orbitron&display=swap');

/** Nav CSS **/
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #2c0434;
    text-align: left; 
    color: #e2df08;  
    font-family: 'Orbitron';
    padding: 0px 0px;
    margin-top: 0px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    color: #e2df08;
    text-decoration: none;
    padding: 30px;
    padding-top: 30px;
    font-size: 30px;
}
nav a:hover{
    color: #148c8c;
}
/**-- End Nav CSS --**/


/**-- Logo Link CSS--**/
img.logo{
    width: 200px;
    padding: 15px 15px;
    margin-top: 0px;  
}
div a{
    text-decoration: none;
}
.logo{
    opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  
}
.middle {
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 13.5%;
    left: 1.7%;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    text-align: center;
    color: white;
  }
.container:hover .logo {
    opacity: 0.6;
}
.container:hover .middle {
    text-decoration: none;
    opacity: 1;
}
.text a{
    text-decoration: none;
    background-color: #148c8c;
    color: #e2df08;
    font-size: 16px;
    padding: 10px 10px;
    border: 5px solid white;
}
.text a::selection{
    color: black;
}
body{
    text-align: center;
    font-family: 'Exo 2';
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #1f1586;
    color: white;
}
/**-- Logo Link CSS --**/



/**-- Home CSS --**/
.main-section{
   display: grid;
   grid-template-columns: 1fr 1fr; 
}

h1.Home-Title{
    font-family: 'Orbitron';
    color: #e2df08;
}
.design-pic{
    width: 100%;
    grid-row: 1/2;
    align-self: center;
}
.gaming-picture-img{
    border: 10px solid black;
    width: 96%;
}

.game_summary{
    background-color: #148c8c;
    border: 10px solid black;
    margin: 15px;
    padding: 0 100px 0 100px;
    line-height: 70px;
    font-size: 30px;
}

.engine-pic{
    width: 100%;
    grid-column: 2/3;
    align-self: center;
}

#game-design-img{
    border: 10px solid black;
    width: 96%;
    margin: 10px;
    align-self: center;
}

h1.Engine-Title{
    font-family: 'Orbitron';
    color: #e2df08; 
}

.engine_summary{
    background-color: #148c8c;
    border: 10px solid black;
    margin: 10px;
    padding: 0 100px 0 100px;
    line-height: 70px;
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 30px;
}
/**-- End Home CSS --**/



/**-- Game Engine CSS --**/
.game_engine_main{
    display: grid;
    grid-template-columns: 1fr;
}
.unity-pic{
    margin: 50px;
}
.unity-img{
    border: 10px solid white;
    width: 63%;
}
h1.Unity-Title{
    font-family: 'Orbitron';
    color: #e2df08;
}
.unity_information{
    background-color: #148c8c;
    border: 10px solid black;
    margin: 10px;
    padding: 40px 100px 40px 100px;
    line-height: 70px;
    font-size: 30px;
}
h3.unity_games{
    text-align: left;
    font-family: 'Orbitron';
    color: #e2df08;
}
.unity_list{
    text-align: left;
}
.unreal-engine-pic{
    margin: 50px;
}
.unreal-engine-img{
    border: 10px solid white;
    width: 63%;
}

h1.Unreal-Engine-Title{
    font-family: 'Orbitron';
    color: #e2df08;
}

.unreal_engine_information{
    background-color: #148c8c;
    border: 10px solid black;
    margin: 10px;
    padding: 40px 100px 40px 100px;
    line-height: 70px;
    font-size: 30px;
}

h3.unreal_games{
    font-family: 'Orbitron';
    text-align: left;
    color: #e2df08;
}

.unreal_list{
    text-align: left;
}
/**-- End Game Engine CSS --*/



/*-- Quiz Page CSS --*/

.quiz_main{
    display: grid;
   grid-template-columns: 1fr 1fr; 
}
h1.Best-option{
    font-family: 'Orbitron';
    color: #e2df08;
}

#best-one{
    background-color: #148c8c;
    border: 10px solid black;
    margin: 10px;
    padding: 40px 100px 40px 100px;
    line-height: 70px;
    font-size: 30px;
    grid-column: 2/2;
}

#thinking-img{
    border: 10px solid black;
    width: 63%;
    grid-column: 1/2;
}

#quiz-img{
    border: 10px solid black;
    width: 63%;
    grid-column: 1/2;
}

/*-- End Quiz Page CSS --*/



/*-- Quiz CSS --*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../assets/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.game-quiz-container{
    width: 72rem;
    height: 30rem;
    background-color: #148c8c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    border: 5px solid black;
    grid-column: 2/2;
}

.game-details-container{
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: yellow;
}

.game-details-container h1{
    font-size: 1.2rem;
}

.game-question-container{
    width: 80%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 25px;
}

.game-question-container h1{
    font-size: 1.1rem;
    text-align: center;
    padding: 3px;
}

.game-options-container{
    width: 80%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.game-options-container span{
    width: 45%;
    height: 3rem;
    border: 3px solid black;
    border-radius: 20px;
    overflow: hidden;
}
span label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    color: white;
}

span label:hover{
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    color: #e2df08;
}

input[type="radio"] {
    position: relative;
    display: none;
}


input[type=radio]:checked ~ .option {
    background: #2c0434;
}

.next-button-container{
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}
.next-button-container button{
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    background: none;
    color: white;
    font-weight: 600;
    border: 3px solid black;
    cursor: pointer;
    outline: none;
}
.next-button-container button:hover{
    background-color: #5501a3;
    color: #148c8c;
}

.modal-container{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container{
    height: 20rem;
    width: 25rem;
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.modal-content-container h1{
    font-size: 1.3rem;
    height: 3rem;
    color: lightgray;
    text-align: center;
}

.grade-details{
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p{
    color: white;
    text-align: center;
}

.modal-button-container{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-container button{
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid rgb(252, 242, 241);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
}
.modal-button-container button:hover{
    background-color: rgb(83, 82, 82);
}
/*-- End Quiz CSS --*/



/*-- Contact Us CSS */
.contactus{
    display: grid;
    grid-template-columns: 1fr;
}
form {
    /* Center the form on the page */
    margin: 85px auto;
    justify-content: center;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 5px solid black;
    border-radius: 1em;
    background-color: #148c8c;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 5px solid black;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }
  
  #feedback {
      background-color: #41084d;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 1em;
      /* make this element invisible until we are ready for it */
      display: none;       
  }
  .moveDown {
      margin-top: 3em;
  }
/**-- End Contact Us --**/





/**-- Footer CSS --**/
section.msg{
    color: #e2df08;
    background-color: #4c8577;
}
nav a.join{
    text-decoration: none;
    color: #e2df08;
}

    
footer a{
    text-decoration: none;
    color: #e2df08;
}
footer a:hover{
    text-decoration: none;
    color: #148c8c;
}
.social{
    text-align: right;
}
.fb{
    width: 10%;
    text-align: right;
}
.ig{
    width: 10%;
    text-align: right;
}
.twr{
    width: 10%;
    text-align: right;
}
footer{
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-align: left;
    background-color: #2c0434;
}
/**-- End Footer CSS --**/
