@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Orbitron&display=swap');

header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #2c0434;
    text-align: left; 
    color: #e2df08;  
    font-family: 'Orbitron';
    padding: 0px 0px;
    margin-top: 0px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    color: #e2df08;
    text-decoration: none;
    padding: 30px;
    padding-top: 30px;
    font-size: 30px;
}
nav a:hover{
    color: #148c8c;
}

img.logo{
    width: 200px;
    padding: 15px 15px;
    margin-top: 0px;
    
}
body{
    text-align: center;
    font-family: 'Exo 2';
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #1f1586;
    color: white;
}
/**-- Home CSS --**/
.main-section{
   display: grid;
   grid-template-columns: 1fr 1fr; 
}

h1.Home-Title{
    font-family: 'Orbitron';
}
.design-pic{
    width: 100%;
    grid-row: 1/2;
    align-self: center;
}
.gaming-picture-img{
    border: 10px solid black;
    width: 96%;
}

.game_summary{
    background-color: #148c8c;
    border: 10px solid black;
    margin: 15px;
    padding: 0 100px 0 100px;
    line-height: 70px;
    font-size: 30px;
}

.engine-pic{
    width: 100%;
    grid-column: 2/3;
    align-self: center;
}

#game-design-img{
    border: 10px solid black;
    width: 96%;
    margin: 10px;
    align-self: center;
}

h1.Engine-Title{
    font-family: 'Orbitron'; 
}

.engine_summary{
    background-color: #148c8c;
    border: 10px solid black;
    margin: 10px;
    padding: 0 100px 0 100px;
    line-height: 70px;
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 30px;
}
/**-- End Home CSS --**/

/**-- Game Engine --**/
.game_engine_main{
    display: grid;
    grid-template-columns: 1fr;
}
.unity-pic{
    margin: 50px;
}
.unity-img{
    border: 10px solid white;
    width: 63%;
}
h1.Unity-Title{
    font-family: 'Orbitron';
}
.unity_information{
    background-color: #148c8c;
    border: 10px solid black;
    margin: 10px;
    padding: 0 100px 0 100px;
    line-height: 70px;
    font-size: 30px;
}
h3.unity_games{
    text-align: left;
    font-family: 'Orbitron';
}
.unity_list{
    text-align: left;
}
.unreal-engine-pic{
    margin: 50px;
}
.unreal-engine-img{
    border: 10px solid white;
    width: 63%;
}

h1.Unreal-Engine-Title{
    font-family: 'Orbitron';
}

.unreal_engine_information{
    background-color: #148c8c;
    border: 10px solid black;
    margin: 10px;
    padding: 0 100px 0 100px;
    line-height: 70px;
    font-size: 30px;
}

h3.unreal_games{
    font-family: 'Orbitron';
    text-align: left;
}

.unreal_list{
    text-align: left;
}
/**-- End 

/**-- Footer CSS --**/
section.msg{
    color: #e2df08;
    background-color: #4c8577;
}
nav a.join{
    text-decoration: none;
    color: #e2df08;
}

    
footer a{
    text-decoration: none;
    color: #e2df08;
}
footer a:hover{
    text-decoration: none;
    color: #148c8c;
}
.social{
    text-align: right;
}
.fb{
    width: 10%;
    text-align: right;
}
.ig{
    width: 10%;
    text-align: right;
}
.twr{
    width: 10%;
    text-align: right;
}
footer{
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-align: left;
    background-color: #2c0434;
}

